{%extends "base.html"%}
{% block title%}About Library{%endblock%}

{%block content %}
<h1>Welcome to DSCE Library</h1>
<img src="static/aUimg.jpg" class="img-fluid" alt="Responsive image"/>
<p>
    Dayananda Sagar College of Engineering has built up a reputation of higher academic standards in all specialties of Engineering for three decades now, a true reflection of dedication and hard work. One of the pillars of such high standards is its high-quality Library facilities. This college's academic excellence is reflected in its harmonious blend of Infrastructure and its academic environment with high quality Library. The Library facilities here are state-of-the-art following the latest automated RFID technology and Dayananda Sagar College of Engineering is the first Private sector Engineering College in India to install this system. This latest system is user friendly and provides access to any book available in few minutes. The Library has a huge collection of over a lakh Books & E-books, along with CD's and DVD's apart from latest Journals and Periodicals.
 

Evident from the acknowledgements and positive remarks by the visiting faculty and dignitaries, the intellectual standards of Dayananda Sagar Engineering are truly reflected in its high standard Library. This Library is accessible to all Undergraduates, Postgraduates, and PhD scholars of different Specializations and also to the Faculty. Along with this, access to e-Books and e-journals is also available through the Digital Library with dedicated systems. It has also a mini auditorium designed for seminars, Academic Presentations and other educational activities.

Our Library consists of skilled, professional and compassionate staff members who are always pleased to help the users.

The Mission is to provide the best Library facility on International standards with latest equipment. The Vision is to nurture the prospective Engineering Specialty Professionals at global standards. The Goal is to achieve these standards with honesty, integrity and with spirit.
</p>
{%endblock%}