{% extends "base.html" %} {% block title %}Admin Home{% endblock %} 
{% block content %}
<br>
<br>
<br>
<div class="container">
  <div class="row">
      <div class="col-md-4">
          <div class="card mt-100">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Show
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/admin_home">Books</a></li>
                    <li><a class="dropdown-item" href="/departments">Departments</a></li>
                    <li><a class="dropdown-item" href="/semesters">Semesters</a></li>
                    <li><a class="dropdown-item" href="/student_list">Students List</a></li>
                    <li><a class="dropdown-item" href="#">Teachers List</a></li>
                  </ul>
                </li>
              </ul>
          </div>
      </div>
  
      <div class="col-md-4">
        <div class="card mt-100">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search Book" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
            
        </div>
    </div>
  
    <div class="col-md-4">
      <div class="card mt-100">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search ISBN" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
  </div>
  </div>
  </div>
  <br/>
<div class="container">
  <div class="card">
  <table class="table table-sm table-condensed table-striped">
    <thead>
      <th>Sr</th>
      <th>ISBN No.</th>
      <th>Book Name</th>
      <th>Price</th>
      <th>Available Copies</th>
      <th>Stock</th>
      <th>Department</th>
      <th>Semester</th>
      <th>Image</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
      {% for book in books %} 
      <tr>
        <td>{{loop.index}}</td>
        <td>{{book.isbn}}</td>
        <td>{{book.name}}</td>
        <td>{{book.price}}</td>
        <td>{{book.available_copies}}</td>
        <td>{{book.stock}}</td>
        <td>{{book.department.name}}</td>
        <td>{{book.semester.name}}</td>
        <td><img src="{{url_for('static',filename='images/'+ book.image_1 )}}" width="50" height="40"></td>
        <td><a href="{{url_for('add.updatebook', id=book.id)}}" class="btn btn-info btn-sm">Edit </a></td>
        <td>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal-{{book.id}}">
        Delete
        </button>
        </td>
      </tr>

 
      

<!-- Modal -->
<div class="modal fade" id="exampleModal-{{book.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{book.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-danger">Are you sure that you want to delete this book ({{book.name}})? </p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('add.deletebook', id=book.id)}}" method="POST">
        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
      </form> 
      </div>
    </div>
  </div>
</div>



      {% endfor %} 
    </tbody>
  </table>
</div>
</div>
{% endblock %}