{% extends "base.html" %} {% block title %}Different{% endblock %}
{% block content %}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card mt-100">
            <form class="d-flex" action="{{url_for('views.result')}}">
                <input class="form-control me-2" type="search" placeholder="Search Department" aria-label="Search" name="#">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>  
            </div>
        </div>

    <div class="col-md-3">
        <div class="card mt-100">
        <form class="d-flex" action="{{url_for('views.result')}}">
            <input class="form-control me-2" type="search" placeholder="Search Semester" aria-label="Search" name="#">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>  
        </div>
    </div>

    <div class="col-md-3">
        <div class="card mt-100">
        <form class="d-flex" action="{{url_for('views.result')}}">
            <input class="form-control me-2" type="search" placeholder="Search Book" aria-label="Search" name="#">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>  
        </div>
    </div>

    <div class="col-md-3">
        <div class="card mt-100">
        <form class="d-flex" action="{{url_for('views.result')}}">
            <input class="form-control me-2" type="search" placeholder="Search USN" aria-label="Search" name="#">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>  
        </div>
    </div>
</div>
<br>
<div class="container">
        <div class="row">
            <div class="card">
                <table class="table table-sm">
                    <thead>
                        <th>Requested Books</th>
                        <th>Issued Books</th>
                        <th>Returned Books</th>
                    </thead>
                    <tbody>
                        <td></td>
                        <td></td>
                        <td></td>   
                    </tbody>
                </table>
            </div>
         </div>
</div>
{% endblock %}