{% extends "base.html" %} {% block title %}Orders List{% endblock %}
{% block content %} 
<br>
<b><center>
    <h3>ORDERS LIST</h3>
</center></b>
<br>
<div class="container">
    <div class="row">
        <div class="card">
        <table class="table table-sm">
            <thead>
                <th>Sr</th>
                <th>Student Name</th>
                <th>Student USN</th>
                <th>Book Name</th>
                <th>ISBN</th>
                <th>Request Date</th>
                <th>Issue Date</th>
                <th>Return Date</th>
                <th>Returned Date</th>
                <th>Approval Status</th>
                <th>Fine Amount</th>
                <th>Cancel Order</th>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{order.student.name}}</td>
                    <td>{{order.student.usn}}</td>
                    <td>{{order.book.name}}</td>
                    <td>{{order.book.isbn}}</td>
                    <td>{{order.request_time.date()}}</td>
                    <td>{{order.approve_time}}</td>
                    <td>{{order.return_time}}</td>
                    <td>{{order.returned_time}}</td>
                    <td style="color: red;">{{order.status}}</td>
                    <td></td>
                    <td><a href ="{{url_for('cart.cancel_order', order_id = order.id)}}" class="btn btn-danger btn-sm">Cancel Order</a></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>  
</div>

{% endblock %}