{% extends "base.html" %} {% block title %}Order{% endblock %}
{% block content %} 
<br>
<b><center>
    <h3>YOUR ORDERS</h3>
</center></b>
<br>
<div class="container">
    <div class="row">
        <div class="card">
        <table class="table table-sm">
            <thead>
                <th>Sr</th>
                <th>Book Name</th>
                <th>ISBN</th>
                <th>Student Name</th>
                <th>Student Email</th>
                <th>Invoice</th>
                <th>Approval Status</th>
            </thead>
            <tbody>
                {% for key, book in carts.carts.items() %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{book.name}}</td>
                    <td>{{book.isbn}}</td>
                    <td>{{student.first_name}}</td>
                    <td>{{student.email}}</td>
                    <td>{{carts.invoice}}</td>
                    <td>{{carts.status}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

        <table class="table table-sm">
            <tr>
                <td>
                    <a href="#" class="btn btn-sm btn-primary float-right mr-5">Get PDF</a>
                </td>
            </tr>
        </table>
    </div>
</div>  
</div>

{% endblock %}