    {% extends "base.html" %} {% block title %}Student Login{% endblock %} 
    {% block content %}
    <nav class="navbar"></nav>
    <h2 class="display-4" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 70px;" ><center>WELCOME TO DSCE LIBRARY</center></h2>
    <br>
    <br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mt-100">
                <div class="card-body">
                    <form class="form" method="post" action="/student_login">
                        <h3><center>STUDENT LOGIN</center></h3>
                        <br>
                        <label>Student USN</label><br>
                        <input type="name" class="form-control" name="susn" placeholder="Enter your USN"><br>
                        <label>Password</label><br>
                        <input type="password" class="form-control" name="student_lpassword" placeholder="Enter your password"><br>
                        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login">
                        <br>
                        <br>
                        <!-- <h5>Are you an admin?<a href="/admin_login">Click here </a>to Login</h5>
                        <br>
                        <h5>Are you a teacher?<a href="/teacher_login">Click here </a>to Login</h5> -->
                        <!-- <br> -->
                        <h5>Are you a new user?<a href="/student_registration">Click here </a>to Register</h5>
                    </form>
                </div>
            </div>
            
            

        </div>
        <div class="col-md-2">
            
        </div>
        <div class="col-md-6">
            <h1 class="text-light display-4" style="font-size: 70px;">Welcome to the World of Virtual Library by Dayananda Sagar University</h1>

        </div>
    </div>
</div>
{% endblock %}

  </body>
</html>