{% extends "base.html" %} {% block title %}Student Home{% endblock %} 
{% block content %}
<br>
<br>
<!-- show bar -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mt-100">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Departments
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for department in departments %}
                      <li><a class="dropdown-item" href="{{url_for('views.get_department', id = department.id)}}">{{department.name}}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                </ul>
            </div>
        </div>
        

        <!-- show bar -->
        <div class="col-md-4">
            <div class="card mt-100">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Semesters
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for semester in semesters %}
                      <li><a class="dropdown-item" href="{{url_for('views.get_semester', id = semester.id)}}">{{semester.name}}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                </ul>
            </div>
        </div>

<!-- search navbar -->
<div class="col-md-4">
    <div class="card mt-100">
      <form class="d-flex" action="{{url_for('views.result')}}">
        <input class="form-control me-2" type="search" placeholder="Search Book Name/ISBN" aria-label="Search" name="q">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>  
    </div>
</div>
<!-- search navbar -->

<div class="container">
    <div class="row">

{% if department %} 
{% for d in department.items %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static', filename = 'images/' + d.image_1)}}" alt="{{d.name}}" class="card-img-top" height="200">
                <div class="card-body">
                    <h5 class="text-center">{{d.name}}</h5>
                    <p class="text-center">Available Copies: {{d.stock}}</p>
                </div>
                <div class="card-footer">
                    
                <a href="{{url_for('views.single_page', id = d.id)}}" class="float-left btn btn-sm btn-primary">Details</a>
                {% if d.stock >0 %}
                <form action="{{url_for('cart.AddCart')}}" method="POST">
                    <input type="hidden" name="book_id" value="{{d.id}}">
                    <button type="submit" class="btn btn-sm btn-warning float-right">Add to Cart</button>
                </form>
                {% else %} 
                <a href="#" class="float-right btn btn-sm btn-danger">Notify Me</a>
                {% endif %}
            </div> 
        </div>
    </div> 
    {% endfor %}
</div>

<div class="row">
    <div class="col text-center">
    {% if department.has_prev %} 
    <a href="{{url_for('views.get_department',id = get_dep.id,  page = department.prev_num)}}" class="btn btn-outline-info btn-sm mt-3">Previous</a>
    {% endif %}   
    {% if department.total > 8 %} 
    {% for page_num in department.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
    {% if page_num %}
    {% if department.page == page_num %} 
    <a href="{{url_for('views.get_department',id = get_dep.id,  page = page_num)}}" class="btn btn-info btn-sm mt-3">{{page_num}}</a>
    {% else %}
    <a href="{{url_for('views.get_department',id = get_dep.id,  page = page_num)}}" class="btn btn-outline-info btn-sm mt-3">{{page_num}}</a>
    {% endif %}
    {% else %} 
    ... 
    {% endif %} 
    {% endfor %}
    {% endif %}
 
    {% if department.has_next %} 
    <a href="{{url_for('views.get_department', id = get_dep.id,  page = department.next_num)}}" class="btn btn-outline-info btn-sm mt-3">Next</a>
    {% endif %}
    </div>
</div>

<!-- for semester -->

<div class="row">
{% elif semester %} 
{% for s in semester.items %}

        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static', filename = 'images/' + s.image_1)}}" alt="{{s.name}}" class="card-img-top" height="200">
                <div class="card-body">
                    <h5 class="text-center">{{s.name}}</h5>
                    <p class="text-center">Available Copies: {{s.stock}}</p>
                </div>
                <div class="card-footer">
                    
                <a href="{{url_for('views.single_page', id = s.id)}}" class="float-left btn btn-sm btn-primary">Details</a>
                {% if s.stock >0 %}
                <form action="{{url_for('cart.AddCart')}}" method="POST">
                    <input type="hidden" name="book_id" value="{{s.id}}">
                    <button type="submit" class="btn btn-sm btn-warning float-right">Add to Cart</button>
                </form>
                {% else %} 
                <a href="#" class="float-right btn btn-sm btn-danger">Notify Me</a>
                {% endif %}
            </div> 
        </div>
    </div> 
{% endfor %}
</div>


<div class="row">
    <div class="col text-center">
    {% if semester.has_prev %} 
    <a href="{{url_for('views.get_semester',id = get_sem.id,  page = semester.prev_num)}}" class="btn btn-outline-info btn-sm mt-3">Previous</a>
    {% endif %} 
    {% if semester.total > 8 %}   
    {% for page_num in semester.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
    {% if page_num %}
    {% if semester.page == page_num %} 
    <a href="{{url_for('views.get_semester',id = get_sem.id,  page = page_num)}}" class="btn btn-info btn-sm mt-3">{{page_num}}</a>
    {% else %}
    <a href="{{url_for('views.get_semester',id = get_sem.id,  page = page_num)}}" class="btn btn-outline-info btn-sm mt-3">{{page_num}}</a>
    {% endif %}
    {% else %} 
    ... 
    {% endif %} 
    {% endfor %}
    {% endif %}
 
    {% if semester.has_next %} 
    <a href="{{url_for('views.get_semester', id = get_sem.id,  page = semester.next_num)}}" class="btn btn-outline-info btn-sm mt-3">Next</a>
    {% endif %}
    </div>
</div>

<!-- for semester -->
<div class="row">
{% else %} 
        {% for book in books.items %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static', filename = 'images/' + book.image_1)}}" alt="{{book.name}}" class="card-img-top" height="200">
                <div class="card-body">
                    <h5 class="text-center">{{book.name}}</h5>
                    <p class="text-center">Available Copies: {{book.stock}}</p>
                </div>
                <div class="card-footer">
                    
                <a href="{{url_for('views.single_page', id = book.id)}}" class="float-left btn btn-sm btn-primary">Details</a>
                {% if book.stock >0 %}
                <form action="{{url_for('cart.AddCart')}}" method="POST">
                    <input type="hidden" name="book_id" value="{{book.id}}">
                    <button type="submit" class="btn btn-sm btn-warning float-right">Add to Cart</button>
                </form>
                {% else %} 
                <a href="#" class="float-right btn btn-sm btn-danger">Notify Me</a>
                {% endif %}
            </div> 
        </div>
    </div> 
    {% endfor %}
</div>

<div class="row">
    <div class="col text-center">
    {% if books.has_prev %} 
    <a href="{{url_for('views.student_home', page = books.prev_num)}}" class="btn btn-outline-info btn-sm mt-3">Previous</a>
    {% endif %} 
    {% if books.total > 8 %}   
    {% for page_num in books.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
    {% if page_num %}
    {% if books.page == page_num %} 
    <a href="{{url_for('views.student_home', page = page_num)}}" class="btn btn-info btn-sm mt-3">{{page_num}}</a>
    {% else %}
    <a href="{{url_for('views.student_home', page = page_num)}}" class="btn btn-outline-info btn-sm mt-3">{{page_num}}</a>
    {% endif %}
    {% else %} 
    ... 
    {% endif %} 
    {% endfor %}
    {% endif %}

    {% if books.has_next %} 
    <a href="{{url_for('views.student_home', page = books.next_num)}}" class="btn btn-outline-info btn-sm mt-3">Next</a>
    {% endif %}
    </div>
</div>
    
    {% endif %} 


    
    </div>
</div>
<br>
{% endblock %}